@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var Uname2 = (string)Session["UserName"];
    var Name = (string)Session["Name"];
}

<html>
<head>
    <title>My Account</title>
</head>
<body onload="xyz()">
    <h2 align="center">My Account</h2>
    <h3><text onclick="mPass()">Change Password</text></h3>
    <br />
    <form id="passform">
        <div id="passdiv">
            New Password
            <br />
            <input type="text" name="passnew" />
            <button type="submit" class="button buttonBlue" onclick="location.href='@Url.Action("ChangePassword", "Main")'">
                Change Password
            </button>
        </div>
    </form>
</body>
</html>

<script type="text/javascript">
    function mPass()
    {
        document.getElementById("passform").style.display = "block";
    }
    function xyz() {
        document.getElementById("passform").style.display = 'none';
    }
</script>
