
@{
    ViewBag.Title = "Change In Curriculum";
    var Uname = (ViewData["Uname"]);

}

<h2>Change In Curriculum</h2>
<h3> Choose an option MR. @Uname</h3>
<input id="modify_syllabus" type="button" value="Modify Syllabus of a Subject" onclick="location.href='@Url.Action("Modify2", "ChangeInCurriculum")'" />
<input id="relocate_semester" type="button" value="Relocate Subject to Another Semester" />
<input id="add_subject" type="button" value="Add New Subject" />
<input id="other" type="button" value="Other" />