
@{
    ViewBag.Title = "View";
}

<h2>Modify Syllabus - Page 1</h2>
<h3> Fill the full form before submitting Mr. @ViewData["Uname"]</h3>

<table>
    <tr>
        <th>Institute</th>
        <th>Department</th>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>
            <div id="InstituteContainer">
                @Html.Action("InstituteView")
            </div>
        </td>
        <td>
            <div id="DepartmentContainer">
              
                @Html.Action("DepartmentView",new { InstituteID = 123})
              
           </div>
        </td>
        <td>
            <div id="CourseContainer">
                @Html.Action("CourseView",new { InstituteID = 123, DeptID = 1 });
            </div>
        </td>
    </tr>
</table>

